
@font-face
	{
		font-family: lato;
		src: url('../fonts/lato/Lato-Reg.ttf') format('truetype');
	}
	
@font-face
	{
		font-family: lato-light;
		src: url('../fonts/lato/Lato-Lig.ttf') format('truetype');
	}
	
@font-face
{
	font-family: lato-italic;
	src: url('../fonts/lato/Lato-RegIta.ttf') format('truetype');
}
	
@font-face
	{
		font-family: lato-bold;
		src: url('../fonts/lato/Lato-Bol.ttf') format('truetype');
	}
	
@font-face
	{
		font-family: bebas_neue;
		src: url('../fonts/bebas_neue/BebasNeue.otf') format('truetype');
	}
	
/** fonts used for the icons **/ 
@font-face {
    font-family: 'icon';
    src: url('../icons/user/fonts/user.eot');
    src: url('../icons/user/fonts/user.eot?#iefix') format('embedded-opentype'),
         url('../icons/user/fonts/user.woff') format('woff'),
         url('../icons/user/fonts/user.ttf') format('truetype'),
         url('../icons/user/fonts/user.svg#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** fonts used for the icons **/ 
@font-face {
    font-family: 'icon';
    src: url('../icons/lock/fonts/lock.eot');
    src: url('../icons/lock/fonts/lock.eot?#iefix') format('embedded-opentype'),
         url('../icons/lock/fonts/lock.woff') format('woff'),
         url('../icons/lock/fonts/lock.ttf') format('truetype'),
         url('../icons/lock/fonts/lock.svg#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** fonts used for the icons **/ 
@font-face {
    font-family: 'icon';
    src: url('../icons/envelope/fonts/envelope.eot');
    src: url('../icons/envelope/fonts/envelope.eot?#iefix') format('embedded-opentype'),
         url('../icons/envelope/fonts/envelope.woff') format('woff'),
         url('../icons/envelope/fonts/envelope.ttf') format('truetype'),
         url('../icons/envelope/fonts/envelope.svg#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}


#loginarea [data-icon]:after {
	position: absolute;
	padding-top: 1em;
	padding-left: .1em;
    content: attr(data-icon);
    font-family: 'icon';
    color: rgb(64, 7, 99);
	speak: none;
	width: 30px;
}

/** the magic icon trick ! **/
#signinarea [data-icon]:before {
	position: absolute;
	padding-left: 9.3em;
	padding-top: 0.1em;
    content: attr(data-icon);
    font-family: 'icon';
    color: rgb(64, 7, 99);
	speak: none;
	width: 25px;
}



html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background: url('../images/beachdrinking-web.jpg') no-repeat left center fixed;
	background-color: black;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 	height: 100%;
 	font-style: lato;
 	color: white;
}

#container {
	height: 100%;
	max-width: 1024px;
	margin: 0% 10% 0% 10%;
	padding: 0;
	border: 1px solid rgb(127, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    text-align: center;
    background-origin: padding-box;
    /*-webkit-background-clip: padding-box; /* for Safari */
    /*background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    /*background-color: purple;*/
}


/***** TOP BAR *****/
#topbar 
{
	margin: 10px 10% 0 10%;
	padding: 0;
	max-width: 1024px;
	height: 30px;
}

#topbar ul /* List */     
{
	margin: 0;
	padding: 0;
	list-style : none; /* no default style-sheet */
    text-align : center;
    font-weight : bold; 
    font-family : lato;
    font-size : 13px;      
 
}

#topbar a /* list content */
{
	margin: 0;
	padding: 5px 5px 5px 5px;
	display : table-cell; /* links are now cells */
	color : #fff;
	text-decoration : none; /* no underline */
	width: 80px; /* cell width (real width = width + padding)  */
	line-height : 20px; /* vertical position*/
	text-shadow: 0px 0px 5px black;
	vertical-align: middle;
}

#topbar li /* Elements des listes */      
{ 
	float : left;  
}

#toprightbar li /* Elements des listes */      
{ 
	float : right;  
}


#topbar li ul /* Sous-listes */
{ 
    position: absolute; /* Position absolue */
    width: 144px; /* Largeur des sous-listes */
    left: 1em; /* Hop, on envoie loin du champ de vision */
}

#topbar a:hover /* Lorsque la souris passe sur un des liens */    
{
    color: rgb(64, 7, 99);
    cursor:  pointer;
    background: rgba(255, 255, 255, 0.6); /* background white */
    text-shadow: none;
    font-size: 12,5px;
    -webkit-border-radius: 3px;
   	-moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgb(255,255,255);
    -webkit-box-shadow: 0x 1px 3px rgba(168, 168, 168, 0.6);
	   -moz-box-shadow: 0px 1px 3px rgba(168, 168, 168, 0.6);
	        box-shadow: 0px 1px 3px rgba(168, 168, 168, 0.6);
}


/***** BUTTONS *****/

input[type="button"], input[type="submit"]{
	cursor:pointer;
	box-shadow:  2px 1px 5px black;
	width: 60px;
	height: 30px;
	color: white;
	background-color: rgba(64, 7, 99, 0.5);
	font-family: lato;
	font-size: 1em;	
	font-style: bold;
 	margin-top: 1px;
	padding: 5px 2.5px 5px 0px;	
	border: 2px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
} 

input[type='button']:hover, input[type="submit"]:hover /* when mouse passes over the input */    
{
    cursor:  pointer;
    text-shadow: none;
    font-family: lato-bold;
   	border: 2px solid rgb(255, 255, 255);
   	background-color: rgba(64, 7, 99, 1);
}


/***** CONTENT *****/
#content {
	text-align: center;
	color: white;
}

#content h1 {
	font-family: bebas_neue,Arial,sans-serif;
 	font-size: 3.5em;	
 	text-shadow: 0px 2px 20px black;
}

#content a input[type='button'] {
	width: 100px;
}


#content a {
	margin: 5px;
	padding : 1px 5px 1px 5px;
	font-family: lato;
 	font-size: 1em;
	text-decoration : none;
}

#content h3 {
	font-family: lato-bold;
 	font-size: 2em;
 	text-shadow: 0px 2px 20px black;
}



#goodbye {
	font-family: bebas_neue,Arial,sans-serif;
 	font-size: 3.5em;
 	text-shadow: 0px 2px 20px black;
}


/***** LOGIN AREA *****/
#loginarea 
{
	border-style: solid;
	border-color: black;
	border: 1px solid black;
	background-origin: padding-box;
	background-color: rgba(0, 0, 0, 0.5);
	width: 550px;
	margin: auto;
	padding: 5px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

/* all the input except submit and checkbox */
#loginarea input:not([type='checkbox']):not([type='submit']){
	width: 200px;
	height: 30px;
	font-family: lato;
	font-size: 1em;	
	font-style: bold;
	padding: 5px 2.5px 5px 32px;	
	border: 1px solid rgb(56, 24, 64);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(56, 24, 64, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(56, 24, 64, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(56, 24, 64, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}

#loginarea input::-webkit-input-placeholder {
		color: rgb(64, 7, 99);
		font-family: lato-italic;
	}
	
#loginarea input::-moz-placeholder {
		color: rgb(64, 7, 99);
		font-family: lato-italic;
	}

#loginarea input::-ms-input-placeholder {
		color: rgb(64, 7, 99);
		font-family: lato-italic;
	}

/* all the input submit */
#loginarea input[type='submit']{
	width: 60px;
}


#loginarea input:not([type="checkbox"]):active,
#loginarea input:not([type="checkbox"]):focus{
	color: rgb(56, 24, 64);
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 

/***** SIGNIN AREA *****/
#signinarea 
{
	border-style: solid;
	border-color: black;
	border: 1px solid black;
	background-origin: padding-box;
	background-color: rgba(0, 0, 0, 0.5);
	width: 400px;
	margin: auto;
	padding: 1px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

#signinarea label {
	display: inline-block;
	width: 140px;
	font-family: lato-bold;
	text-align: left;
}
/* all the input except submit and checkbox */
#signinarea input:not([type='checkbox']):not([type='submit']){
	width: 200px;
	height: 25px;
	color: black;
	font-family: lato;
	font-size: 1em;	
	font-style: bold;
	padding: 5px 2.5px 5px 32px;	
	border: 1px solid rgb(56, 24, 64);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(56, 24, 64, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(56, 24, 64, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(56, 24, 64, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}

#signinarea input::-webkit-input-placeholder {
		color: rgb(64, 7, 99);
		font-family: lato-italic;
	}
	
#signinarea input::-moz-placeholder {
		color: rgb(64, 7, 99);
		font-family: lato-italic;
	}

#signinarea input::-ms-input-placeholder {
		color: rgb(64, 7, 99);
		font-family: lato-italic;
	}

/* all the input submit */
#signinarea input[type='submit']{
	width: 200px;
	height: 25px;
	color: white;
	background-color: rgba(64, 7, 99, 0.5);
	font-family: lato;
	font-size: 1em;	
	font-style: bold;
 	margin-top: 1px;
	padding: 5px 2.5px 5px 0px;	
	border: 2px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}

#signinarea input[type='submit']:hover /* when mouse passes over the input */    
{
    cursor:  pointer;
    text-shadow: none;
    font-family: lato-bold;
   	border: 2px solid rgb(255, 255, 255);
}


#signinarea input:not([type="checkbox"]):active,
#signinarea input:not([type="checkbox"]):focus{
	color: rgb(56, 24, 64);
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 



/***** FOOTER AREA *****/
.footer {
	margin: 0;
	bottom: 0px;
	width:100%;
	color: white;
	background-color: black;
}
